<img class="wave" src="../../../assets/img/wave.png">
<div class="container">
    <div class="img">
        <img src="../../../assets/img/medicine.png">
    </div>
    <div class="login-content">
        <form [formGroup]="form">
            <img src="../../../assets/img/avatar.svg">
            <h2 class="title">Bienvenido</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <!-- <h5>Username</h5> -->
                  <input placeholder="Usuario" type="text" formControlName="usuario" class="input">
                </div>
            </div>

<!--             <a class="validar-mensaje" href="#">Error de usuario</a> -->

            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <!-- <h5>Password</h5> -->
                    <input placeholder="Contraseña" type="password" formControlName="contrasena" class="input">
                </div>
            </div>
            <!-- <a class="validar-mensaje" href="#">Error de Password</a> -->
            <input type="submit" (click)="validarIngreso()  " class="btn" value="Ingresar">

        </form>
    </div>
</div>
